

@mixin display_768px {
    .howto{
        padding-right: 1%;
        padding-left: 1%;
    }
    
    .restaurant__cards 
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 0em;
        padding-bottom: 0em;
        padding-left: 0%;
        padding-right: 0%;
            .card__1
            {
                grid-area: 1/1/2/2;

            }
            .card__2
            {
                grid-area: 1/2/2/3;
            }
            .card__3
            {
                grid-area: 2/1/2/2;
            }
            .card__4
            {
                grid-area: 2/2/3/3;
            }
    }

 
}


@mixin display_1024px {
   

    .howto .howto__steps 
    {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menucard
    {
       @include  menucard_grid;
    }
}



  @mixin display_1440px 
  {
        .restaurant__cards 
        {
            padding-left: 10%;
            padding-right: 10%;
        }
    

  
    }


