@mixin display_1024px {
   

    .howto .howto__steps {
        flex-direction: row;
        justify-content: space-evenly;
    }
}


@mixin display_768px {
    .howto{
        padding-right: 1%;
    }
    
    .restaurant__cards {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        padding-bottom: 0em;
            .card__1
            {
                grid-area: 1/1/2/2;

            }
            .card__2
            {
                grid-area: 1/2/2/3;
            }
            .card__3
            {
                grid-area: 2/1/2/2;
            }
            .card__4
            {
                grid-area: 2/2/3/3;
            }
    }

    .restaurant__cards .card {
        padding-bottom: 0.5em;
    }

//     .restaurantbackground {

//         height: 18em;
//     }

//     .menubox {
//         margin-left: 0%;
//         margin-right: 0%;
//     }

//     .footer
//     {
//         padding-left: 2%;
//     }
}

