

@mixin display_768px 
{
    .howto{
        padding-right: 1%;
        padding-left: 1%;
    }
    .howto__icon
    {
        margin-left: 32%;
    }
    .restaurant__cards 
    {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 0em;
        padding-bottom: 0em;
        padding-left: 0%;
        padding-right: 0%;
            .card__1
            {
                grid-area: 1/1/2/2;

            }
            .card__2
            {
                grid-area: 1/2/2/3;
            }
            .card__3
            {
                grid-area: 2/1/2/2;
            }
            .card__4
            {
                grid-area: 2/2/3/3;
            }
    }

    .restaurantbackground 
    {
    height: 20em;
    }

  .menubox
  {
      margin-left: 1.5em;
      margin-right: 1.5em;
  }
}


@mixin display_1024px 
{
    .howto
    {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0%;
    }

     .howto .howto__title
    {
        padding-bottom: 2%;
    }
   
.howto__icon
{
    margin-left: 0%;
}
   .howto__steps 
    {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: baseline;
    justify-content: space-around;
    }
    .howto__step
    {
        width: 25%;
    }

    .restaurant
    {
        padding-left: 5%;
        padding-right: 5%;
    }
    .restaurant__cards {
      
        grid-column-gap: 2em;
       
    }
    .menubox
    {
        margin-left: 2em;
        margin-right: 2em;
    }
    .menucard
    {
       @include  grid_responsive;
       
    } 
}


  @mixin display_1440px 
{
.restaurantbackground 
{
    height: 21em;
}
.menubox
{
    margin-left: 3em;
    margin-right: 3em;
}
    .restaurant__cards 
    {
        padding-left: 10%;
        padding-right: 10%;
    }
}


