
/* Remise à zéro de l'affichage */
@mixin body_margin 
{
margin: 0;
padding:0;
}
/* Page de Chargement */
@mixin loader_setup 
{ 
position: fixed;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
opacity: 100%;
font-size: 10em;
text-shadow: 0 0 7px;
z-index: 9999;
background-color: #f6f6f6a8;    
@include loader_animation
}




/* Paramètre du header */
@mixin header_setup 
{
    position: relative;
    z-index: 1000;
    padding: 1em;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
&--container
{
    display: block;
}

&--backarrow
{
    position: relative;
}

.header__arrow
{
    position: absolute;
    left: 2em;
    height: 2em;
    width: 2em;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%) translateX(-60%);
    font-size: 1.2rem;
    color: #000;

&:visited
{
text-decoration: none;
}
&:hover
{
transform: translateY(-50%) translateX(-60%) scale(1.1);
cursor: pointer;
}
}
}
/* Paramètre du footer */
@mixin footer_setup
{
padding-left: 1.5em;
padding-bottom: 1em;
background-color: $color-footer;
color: white;

h4
{
font-family: $logo-title-font;
font-size: 1.2em;
padding-top: 1em;
margin: 0%;
}

&__list
{   
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0%;

    
}
&__listelmt
    {
    
        
        padding-bottom: 0.6em;
        
        
    }    
    
&__link
{
text-decoration: none;
color: white;
padding-right: 1em;

&:hover
{
    text-decoration: underline;
}

&:visited
{
    color: white;
}
}

&__icon
{
padding-right: 0.5em;
}
}






/*Image du restaurant */
@mixin restaurant_background
{
width: 100%;
max-width: 100%;
object-fit: cover;
height: 18em;
}


/*Conteneur zone principale */
@mixin menubox
{
margin-top: -4em;
border-radius: 2em 2em 0 0;
background-color: #f6f6f6;
z-index: 1;
position: relative;
margin-left: 0;
margin-right: 0;
padding-bottom: 5%;
}


/*Entrée, Plats, Desert */
@mixin menucard_title 
{
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
padding-left: 2%;
padding-right: 2%;     

}
/* ::after "Entrées, Plats, Dessert" */
@mixin selection_decoration 
{
content: "";
width: 2.5em;
height: 0.25em;
background-color: #99e2d0;
position: absolute;
top: 95%;
left: 0;
}
/*Bulle des plats */
@mixin menucard_bubble
{ 
    background: white;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-wrap: nowrap;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;

        .menucard__text
        {
        display: flex;
        flex: 1;
        flex-direction: column;
        }
            .menucard__name
            {
            margin: 0;
            }
            .menucard__subtext
            {
            margin: 0%;
            }
       
        .menucard__price
        {
        font-weight: bold;
        margin-right: -3.5em;
        display: flex;
        flex-direction: row;
        transition-duration: .5s;
        }
}

/*Icone de validation */
@mixin check 
{ 

display: flex;
align-items: center;
justify-content: center;
transform: translateX(5em);
transition-duration: 0.5s;
background: #99e2d0;
padding: .5em;
padding-left: 1.5em;
padding-right: 1.5em;
height: 100%;

.checkBox
{ 
display: flex;
align-items: center;
justify-content: center;
border-radius: 100px;
transform: rotate(-270deg);
transition-duration: 0.5s;}

.checkIcon {
    font-size: 1.2em;
    color: #99e2d0;
    background-color: white;
    border-radius: 50px;
    padding: 0.2em;
}
}






