

@mixin animation_foodcard {
    &:hover
    { 
    cursor: pointer;
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
    transition-duration: 500ms;
}
}


@mixin loader_animation
{
   
    .loader__point
    {
        color: $color-primary;
        animation: loading-bounce 1.5s linear 0s infinite alternate-reverse both;
        -webkit-animation: loading-bounce 1.5s linear 0s infinite alternate-reverse both;
}
    .loader__point--pink
    {
        color: $color-secondary;
        animation: loading-bounce 1.5s linear 0s infinite alternate-reverse both;
        -webkit-animation: loading-bounce 1.5s linear 0s infinite alternate-reverse both;
        animation-delay: .20s;
}
    .loader__point--green
    {
        color: $color-tertiary;
        animation: loading-bounce 1.5s linear 0s infinite alternate-reverse both;
        -webkit-animation: loading-bounce 1.5s linear 0s infinite alternate-reverse both;
        animation-delay: .40s;
}

@keyframes loading-bounce {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(-45px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }

@-webkit-keyframes loading-bounce {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
      }
    
      24% {
        opacity: 1;
      }
    
      40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
      }
    
      65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
      }
    
      82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
      }
    
      93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
      }
    
      25%,
      55%,
      75%,
      87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
      }
    
      100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
      }
  }
}
