

@mixin mainbutton {  
    text-decoration: none;
    border: 0;
    padding: .75em 1.5em;
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg,$color-primary,$color-secondary);
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);

    &:hover
    {
        transform: scale(105%);
        -webkit-transform: scale(105%);
        -moz-transform: scale(105%);
        -ms-transform: scale(105%);
        -o-transform: scale(105%);
    }
    
}