/* Page de Chargement */
@mixin loader_setup 
{ 
position: fixed;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
opacity: 100%;
font-size: 10em;
text-shadow: 0 0 7px;
z-index: 9999;
background-color: #f6f6f6a8;    
@include loader_animation

}


/* Remise à zéro de l'affichage */
@mixin body_margin 
{
margin: 0;
padding:0;
}


/* Paramètre du header */
@mixin header_setup 
{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: baseline;



&--backarrow
{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
}

&__arrow
{
color: black;
font-size: x-large;
position: absolute;
right: 95%;
top: 4%;
left: 2%;


&:visited
{
text-decoration: none;
}
&:hover
{
transform: scale(1.12);
cursor: pointer;
}
}
}


/* Paramètre du footer */
@mixin footer_setup
{
padding-left: 1.5em;
padding-bottom: 1em;
background-color: $color-footer;
color: white;

h4
{
font-family: $logo-title-font;
font-size: 1.2em;
padding-top: 1em;
margin: 0%;
}

&__list
{   
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0%;

    
}
&__listelmt
    {
    
        
        padding-bottom: 0.6em;
        
        
    }    
    
&__link
{
text-decoration: none;
color: white;
padding-right: 1em;

&:hover
{
    text-decoration: underline;
}

&:visited
{
    color: white;
}
}

&__icon
{
padding-right: 0.5em;
}
}


/*Image du restaurant */
@mixin restaurant_background
{
width: 100%;
max-width: 100%;
object-fit: cover;
height: 18em;
}


/*Conteneur zone principale */
@mixin menubox
{
margin-top: -4em;
border-radius: 2em 2em 0 0;
background-color: #f6f6f6;
z-index: 1;
position: relative;
margin-left: 0;
margin-right: 0;
padding-bottom: 5%;
}


/*Entrée, Plats, Desert */
@mixin menucard_title 
{
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
padding-left: 2%;
padding-right: 2%;     


}


/* ::after "Entrées, Plats, Dessert" */
@mixin selection_decoration 
{
content: "";
width: 2.5em;
height: 0.25em;
background-color: #99e2d0;
position: absolute;
top: 95%;
left: 0;
}


/*Bulle des plats */
@mixin menucard_bubble
{

@include animation_foodcard;

height: 100%;
    width: 100%;
    background: white;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: .5em;
    padding-bottom: .5em;


.menucard__text
{
display: flex;
flex: 1;
flex-direction: column;
}
.menucard__subtext
{
display: flex;
justify-content: space-between;
flex-direction: row;
padding-top: 2%;
padding-left: 1%;
margin: 0%;
}
.menucard__name
{
margin: 0;
}
.menucard__price
{
font-weight: bold;
margin-right: -4.5em;
display: flex;
flex-direction: row;
transition-duration: .5s;
}
}

p, h5
{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;
}


/*Icone de validation */
@mixin check 
{ 

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(5em);
    transition-duration: 0.5s;
    background: #99e2d0;
    padding: .5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 100%;

.checkBox
{ 
display: flex;
align-items: center;
justify-content: center;
border-radius: 100px;
transform: rotate(-270deg);
transition-duration: 0.5s;}

.checkIcon {
    font-size: 1.2em;
    color: #99e2d0;
    background-color: white;
    border-radius: 50px;
    padding: 0.2em;
}
}


/*Proposistion des plats - delay*/
@mixin selection-appear 
{
/* Menucard Animation*/
.selection__starter--1
{
/* Menucard Animation*/
@include menucard-animation;   

}
.selection__starter--2
{
/* Menucard Animation*/
@include menucard-animation;
animation-delay: 0.4s;    
}
.selection__starter--3
{
/* Menucard Animation*/
@include menucard-animation;
animation-delay: 0.6s; 
}
.selection__starter--4
{
/* Menucard Animation*/
@include menucard-animation;
animation-delay: 0.6s; 
}

                .selection__maincourse--1
                {
                    /* Menucard Animation*/
                    @include menucard-animation;   
                    animation-delay: 0.8s; 
                }
                .selection__maincourse--2
                {
                    /* Menucard Animation*/
                    @include menucard-animation;
                    animation-delay: 1s;    
                }
                .selection__maincourse--3
                {
                    /* Menucard Animation*/
                    @include menucard-animation;
                    animation-delay: 1.2s; 
                }

                                        .selection__dessert--1
                                        {
                                            /* Menucard Animation*/
                                            @include menucard-animation;   
                                            animation-delay: 1.4s; 
                                        }
                                        .selection__dessert--2
                                        {
                                            /* Menucard Animation*/
                                            @include menucard-animation;
                                            animation-delay: 1.6s;    
                                        }
                                        .selection__dessert--3
                                        {
                                            /* Menucard Animation*/
                                            @include menucard-animation;
                                            animation-delay: 1.8s; 
                                        }
}

