@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');



$logo-title-font:'Shrikhand', 'cursive';
$font-text: 'Roboto', 'sans-serif';

.header__logo, h1{
font-family: $logo-title-font;
font-weight: normal;
}

h2, h3, h4, h5, h6, li, div, span, a{
font-family: $font-text;
}