


/* Loader Animation*/
@mixin loader_animation
{
  &.loader
  {
    animation: loader-background 7200s ;
    -webkit-animation: loader-background 7200s ;
    animation-iteration-count: 1;
            
  
    .loader__point
    {
        color: $color-primary;
        animation: loading-bounce 1.5s linear 0s 2 alternate-reverse both;
        -webkit-animation: loading-bounce 1.5s linear 0s 2 alternate-reverse both;
        
}
    .loader__point--pink
    {
        color: $color-secondary;
        animation: loading-bounce 1.5s linear 0s 2 alternate-reverse both;
        -webkit-animation: loading-bounce 1.5s linear 0s 2 alternate-reverse both;
        animation-delay: .20s;
}
    .loader__point--green
    {
        color: $color-tertiary;
        animation: loading-bounce 1.5s linear 0s 2 alternate-reverse both;
        -webkit-animation: loading-bounce 1.5s linear 0s 2 alternate-reverse both;
        animation-delay: .40s;
}

@keyframes loading-bounce {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(-25px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(-15px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(-8px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(-4px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(-2px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }

@-webkit-keyframes loading-bounce {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-25px);
      }
    
      24% {
        opacity: 1;
      }
    
      40% {
        animation-timing-function: ease-in;
        transform: translateY(-15px);
      }
    
      65% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
      }
    
      82% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
      }
    
      93% {
        animation-timing-function: ease-in;
        transform: translateY(-2px);
      }
    
      25%,
      55%,
      75%,
      87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
      }
    
      100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
      }
  }


  @keyframes loader-background
  {
    0%
      {
        opacity: 1;
      }
      
    0.05%
      {
       opacity: 0;
       z-index: -9998;
       display: none;
      }

      100%
      {
       opacity: 0; 
        z-index: -999;
       display: none;
      }
    }


@-webkit-keyframes loader-background
{
  0%
    {
      opacity: 1;
    }
    
  0.05%
    {
     opacity: 0;
     z-index: -9999;
     display: none;
    }
    100%
    {
     opacity: 0; 
      z-index: -999;
     display: none;
    }
  }


}
}



/* Menucard Animation*/
/*Proposistion des plats - delay*/
@mixin selection-appear 
{
/* Menucard Animation*/
.selection__starter--1
{
/* Menucard Animation*/
@include menucard-animation;   

}
.selection__starter--2
{
/* Menucard Animation*/
@include menucard-animation;
animation-delay: 0.4s;    
}
.selection__starter--3
{
/* Menucard Animation*/
@include menucard-animation;
animation-delay: 0.6s; 
}
.selection__starter--4
{
/* Menucard Animation*/
@include menucard-animation;
animation-delay: 0.6s; 
}

                .selection__maincourse--1
                {
                    /* Menucard Animation*/
                    @include menucard-animation;   
                    animation-delay: 0.8s; 
                }
                .selection__maincourse--2
                {
                    /* Menucard Animation*/
                    @include menucard-animation;
                    animation-delay: 1s;    
                }
                .selection__maincourse--3
                {
                    /* Menucard Animation*/
                    @include menucard-animation;
                    animation-delay: 1.2s; 
                }

                                        .selection__dessert--1
                                        {
                                            /* Menucard Animation*/
                                            @include menucard-animation;   
                                            animation-delay: 1.4s; 
                                        }
                                        .selection__dessert--2
                                        {
                                            /* Menucard Animation*/
                                            @include menucard-animation;
                                            animation-delay: 1.6s;    
                                        }
                                        .selection__dessert--3
                                        {
                                            /* Menucard Animation*/
                                            @include menucard-animation;
                                            animation-delay: 1.8s; 
                                        }
}
/*Animation*/
@mixin menucard-animation {

  animation: menucard_animation_appear 1s linear 0.2s 1 ;
  transform: scale(0);
  animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
  animation-fill-mode: both;



@keyframes menucard_animation_appear {

  0%
  {
    transform: scale(0);
 
  }
  
  100%
  {
    transform: scale(1);

  }
  
}

@-webkit-keyframes menucard_animation_appear {

  0%
  {
    transform: scale(0);
  }

  100%
  {
    transform: scale(1);
  }
  
}
}


 /*  Heart Animation*/
@keyframes fill { 
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


.howto__step:hover
{
color: #9356DC;
background-color:#f7f0ff ;
transition-duration: .3s;
cursor: pointer;
}
.howto__step:hover .howto__icon
{
color: #9356DC;
background-color:#f7f0ff ;
transition-duration: .3s;
cursor: pointer;
}

/*Animation au survol des bulles*/


.menucard__bubble:hover .menucard__check /*Glissement validation*/
{
    transform: translateX(-0em);
} 
.menucard__bubble:hover .menucard__price /*Glissement validation*/
{
    transform: translateX(-5em);
    transition-duration: .5s;
}
.menucard__bubble:hover .menucard__check .checkBox /*Rotation validation*/
{
    transform: rotate(0deg);
}
.menucard__bubble:hover .menucard__text /*Glissement validation*/
{
    margin-right: 30%;
    transition-duration: .5s;
}
